*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

    
}

body{
    overflow: hidden;
    
}

::-webkit-scrollbar {
    width: 3px; /* Chiều rộng của thanh cuộn dọc */
    height: 8px; /* Chiều cao của thanh cuộn ngang */
    border-radius: none;
  }

  ::-webkit-scrollbar-track {
    background: transparent; /* Màu nền track */
    border-radius: none;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--black); /* Màu nút kéo */
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Hover */
  }

html{
    font-size: 85%;
}

:root{
    --white: #fff;
    --greylightnhe: #f8f8f8;
    --grey: #e5e5e5
    --greylightnang: #888;
    --black: #000;
    --black-light:#212529;
    --graynhe:  #ccc;
    --dividergrey: rgba(0, 0, 0, 0.062);
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--black);
}





/*================ ADMIN ==============*/

.wrapper-admin{
    
    
}

.header-admin{
    width: 100%;
}

.navbar-admin{
    width: 100%;
    background-color: var(--black);
    padding: 5px 0;
}

.navbar-admin-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 15px;
}


.navbar-admin-items > li >a{
    color: var(--white);
}

.logo-brand-admin{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.logo-brand-admin > img{
    width: auto;
    height: 50px;
}

.container-admin{
    width: 100%;
    height: 100vh;
    display: flex;
}

.sidebar-admin{
    width: 17%;
    height: 100%;
    background-color: var(--black);
    padding: 10px;

}

.sidebar-admin-items{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 10px;
    gap: 5px;
    margin-top: 20px;
    color: var(--white);

}

.sidebar-item{
    display: flex;
    padding: 10px;
    color:var(--white);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content-admin{
    flex: 1;
    padding: 10px 30px;
    overflow-y: scroll;
}

.content-admin-products{
    position: relative;
}

.header-table{
    position: relative;
}

.table-title{
    padding: 10px 0;
    border-bottom: 1px solid var(--graynhe);
    text-align: left;
    font-size: 15px;
}

.feature-product-table, .feature-user-table, .feature-order-table{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    gap: 5px;
}

.form-search{
    display: flex;
    gap: 5px;
}

.form-sort{

}

.search{
    border: 1px solid var(--black);
    padding: 10px;
}

.search > input{
    border: none;
    outline-style: none;
}

.btn-search{
    padding: 10px;
    background-color: var(--black);
    border: none;
    box-shadow: none;
    color: var(--white);
}

.table-data-products, .table-data-store, .table-data-order{
    height: 300px;
    overflow-y: scroll;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
  }

  .custom-table th  {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 15px;
  }
  .custom-table td{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 10px;
    
  }
  
  .custom-table th {
    background-color: var(--black);
    color: var(--white);
  }

  .custom-table tr{
    background-color: var(--greylightnhe);
  }
  .custom-table tr:hover{
    background-color: var(--graynhe);
    cursor: pointer;
  }

  .info-detail{
    margin-top: 50px;
    position: relative;

  }

  .info-detail-title{
    padding: 10px 0;
    border-bottom: 1px solid var(--graynhe);
    text-align: left;
    font-size: 15px;
  }

  .form-product-detail{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-top: 20px;
    border-right: 1px solid var(--graynhe);
    padding-right: 60px;
  }

.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.form-group > span{
    font-weight: 600;
}

.form-group > input{
    padding:20px 10px;
    height: 30px;
    width: 100%;
}

.form-group > select{
    padding: 5px 10px;
    height: 30px;
    width: 100%;
}

.Album{
    position: absolute;
    right: 0px;
    width: 400px;
    font-weight: 600;
}

.dropzone {
    width: 100%;
    height: 200px;
    padding: 30px;
    border: 2px dashed var(--graynhe);
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .dropzone.dragover {
    background: #eef;
  }
  .preview{
      height: 400px;
      overflow-y: scroll;
      overflow-x: hidden;
      margin-top: 10px;
  }
  .preview img {
    width: 100%;
    margin: 5px;
    object-fit: cover;
  }

.list-img{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 400px;
   
}

.list-img-item{
    width: 100%;
    background-color: var(--greylightnhe);
}

.btn-group{
    width: 100%;
    height: 50px;
    display: flex;
    gap: 5px;
    grid-column-start: 1;
    grid-column-end: 3;
    
}

.btn-group > button{
    width: 100%;
    background-color: transparent;
    background-color: var(--black);
    padding: 10px;
    box-shadow: none;
    color: var(--white);
    
}

.create-product{
    margin-top: 50px;
    position: relative;
}

.create-product-title{
    padding: 10px 0;
    border-bottom: 1px solid var(--graynhe);
    text-align: left;
    font-size: 15px;
  }

.form-create-product{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-right: 1px solid var(--graynhe);
    padding-right: 60px;
    gap: 10px;
    margin-top: 20px;
    
}

.overview-content-toggle, .overview-content-toggle--2{
    position: absolute;
    top:-5px;
    right: 0;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s ease;
}

/*================= ORDERS ================*/

.receipt-order{
    display: flex;
    gap: 10px;
}

.receipt-container{
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
}

.receipt-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--graynhe);
}

.receipt-header h2{
    margin: 0;
    font-size: 20px;
}

.order-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    min-height: 400px;
}

.order-items-container{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.order-items-container img{
    width: 100px;
    height: 100px;
    background-color: var(--greylightnhe);
}

.order-items-container h3{
    font-size: 20px;
    width: 300px;
    height: 50px;
}

.order-items-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-info-user{
    margin-top: 40px;
}

.order-feature{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    flex: 1;
    gap: 10px;
    height: 200px;
    padding: 20px 50px;
    
}

.order-feature h2{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--graynhe);
}

.order-feature form{
    width: 100%;
}

.order-feature form button{
    width: 100%;
    padding:10px;
    background-color: transparent;
    box-shadow: none;
    font-weight: bold;
}

.print-receipt{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    font-weight: bold;
    padding: 10px;
}

@media print {
    body * {
      visibility: hidden;
    }
  
    #receipt, #receipt * {
      visibility: visible;
    }
  
    #receipt {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      box-shadow: none;
    }
  }

  .content-admin-revenue{
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .content-admin-revenue::after{
    content: "";
    width: 1.5px;
    height: 100%;
    top: 0;
    right: 30%;
    position: absolute;
    background-color: var(--dividergrey);
  }

.revenue-manage-title{
    padding: 20px 0;
    border-bottom: 1.5px solid var(--dividergrey);
}

.revenue{
    width: 70%;
    padding: 10px;
}

.statistical-product{
    margin-top: 20px;
    padding: 20px;
    border-top: 2px solid var(--dividergrey);
    position: relative;
    width: 70%;
}


.statistical-product-bestseller,.statistical-product-least{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.group-bestseller, .group-leastproduct{
    display: flex;
    align-items: center;
    height: 40px;
    gap: 10px;
}

.group-bestseller p, .group-leastproduct p{
    width: 130px;
    text-align: right;
    font-size: 10px;
}

.bar-bestseller, .bar-leastproduct{
    width: 150px;
    height: 20px;
}

.bar-bestseller-fill, .bar-leastproduct-fill{
    height: 100%;
    background-color: rgb(144, 224, 239);
}

.gauge {
    width: 300px;
    text-align: center;
    font-family: sans-serif;
    position: absolute;
    right: 0;
    top: 50px;
  }
  
  .needle-line {
    transform-origin: 50% 100%;
    
  }
  
  .value {
    
    font-size: 16px;
    font-weight: bold;
  }









