button{
  cursor:pointer;
}

.container{
  animation: zoomIn 0.5s;
}

.contact{
  animation:slideInRight 0.5s;
}

::-webkit-scrollbar {
  width: 3px; /* Chiều rộng của thanh cuộn dọc */
  height: 8px; /* Chiều cao của thanh cuộn ngang */
  border-radius: none;
}

::-webkit-scrollbar-track {
  background: transparent; /* Màu nền track */
  border-radius: none;
}

::-webkit-scrollbar-thumb {
  background: transparent; /* Màu nút kéo */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Hover */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card {
  transition: 0.5s;
}

.status-delivered, .status-Active, .success {
  background-color: #e6f8f0;
  color: #0abb87;
}

.status-shipped {
  background-color: #e8f4ff;
  color: #0095ff;
}

.status-pending {
  background-color: #fff4de;
  color: #ffa800;
}

.status-canceled, .status-Blocked, .warning {
  background-color: #ffe2e5;
  color: #f64e60;
}

.sidebar-link.active {
  background-color: rgba(255, 255, 255, 0.2);
  border-left: 4px solid #fff;
}

.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.Album {
  position: absolute;
  right: 0px;
  width: 45%;
  font-weight: 600;
  top: 0;
  
}

.dropzone {
  width: 100%;
  height: 200px;
  padding: 30px;
  border: 0.5px dashed gray;
  border-radius:2px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropzone.dragover {
  background: #eef;
}
.preview {
  height: 400px;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-template-rows:repeat(4,1fr);
  margin-top: 10px;
  gap:5px;
}
.preview img {
  width: 100%;
  height:100%;
  margin: 5px;
  object-fit: cover;
}

.list-img {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 400px;
}

.list-img-item {
  width: 100%;
  background-color: var(--greylightnhe);
}

.success {
  #a7c957;
}

.warning{
  
}

@media print {
    body * {
      visibility: hidden;
    }
  
    .receipt, .receipt * {
      visibility: visible;
    }
  
    .receipt {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      box-shadow: none;
    }

    .receipt-info{
      position: relative;
      margin-top:50px;
    }
  }

  .dropdown-content{
    display:none;
  }

  .dropdown:hover ~ .dropdown-content{
    display:block;
  }

  .dropdown-content:hover{
    display:block;
  }

  .loader {
  width: 20px;
  height: 20px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
    content: '';  
  box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: #000;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
